* {
    color: #00b8e6;
    margin-top: 10px;
    margin-bottom: 10px;
}

html {
    background-color: #003d4d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    padding-left: 5rem;
    padding-right: 5rem;
}

header {
    background-color: #006680;
    text-align: center;
    border-radius: 20px;
    border-style: dotted;
    width: 30rem;
}

.header {
    display: flex;
    justify-content: center;
}

nav {
    background-color: #006680;
    border-radius: 20px;
    border-style: dotted;
    display: flex;
    justify-content: space-around;
}

.bc-lightblue {
    background-color: #006680;
    border-radius: 20px;
    border-style: dotted;
    padding-left: 10px;
    padding-right: 10px;
}

.main-container-flex {
    display: flex;
}

aside {
    margin-left: 3rem;
}
