#navbar-image {
    width: 3rem;
    height: 3rem;
}

.navbar-icon {
    width: 2rem;
    height: 2rem;
}

/*
@media handheld, only screen and (max-width: 576px) {
    .navbar-icon {
    width: 1.5rem;
    height: 1.5rem;
    }
}*/

@media handheld, only screen and (max-width: 576px) {
    .icons-to-hide {
    display: none;
    }
}